USE [master]
GO
/****** Object:  Database [QL_SINH_VIEN]    Script Date: 12/20/2020 12:56:43 PM ******/
CREATE DATABASE [QL_SINH_VIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_SINH_VIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QL_SINH_VIEN.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_SINH_VIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QL_SINH_VIEN_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_SINH_VIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_SINH_VIEN]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 12/20/2020 12:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MASV] [char](3) NOT NULL,
	[MAMH] [char](2) NOT NULL,
	[DIEM] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/20/2020 12:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [char](2) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/20/2020 12:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](2) NOT NULL,
	[TENMH] [nvarchar](25) NULL,
	[SOTIET] [int] NULL DEFAULT ((30)),
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/20/2020 12:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](3) NOT NULL,
	[HOSV] [nvarchar](35) NULL,
	[TENSV] [nvarchar](15) NULL,
	[PHAI] [bit] NULL DEFAULT ((1)),
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](15) NULL,
	[MAKH] [char](2) NULL,
	[HOCBONG] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KETQUA] ([MASV], [MAMH], [DIEM]) VALUES (N'A01', N'01', 10)
INSERT [dbo].[KETQUA] ([MASV], [MAMH], [DIEM]) VALUES (N'A01', N'02', 4)
INSERT [dbo].[KETQUA] ([MASV], [MAMH], [DIEM]) VALUES (N'A01', N'05', 9)
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'AV', N'Anh Văn')
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'LS', N'Lịch sử')
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'SH', N'Sinh học')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET]) VALUES (N'01', N'Nhập môn máy tính', 30)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET]) VALUES (N'02', N'Trí tuệ nhân tạo', 45)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET]) VALUES (N'03', N'Truyền tin', 45)
INSERT [dbo].[SINHVIEN] ([MASV], [HOSV], [TENSV], [PHAI], [NGAYSINH], [NOISINH], [MAKH], [HOCBONG]) VALUES (N'A01', N'Nguyễn Thu', N'Hải', 0, CAST(N'1980-02-23 00:00:00.000' AS DateTime), N'TP.HCM', N'AV', 100000)
INSERT [dbo].[SINHVIEN] ([MASV], [HOSV], [TENSV], [PHAI], [NGAYSINH], [NOISINH], [MAKH], [HOCBONG]) VALUES (N'A02', N'Trần Văn', N'Chính', 1, CAST(N'1982-12-24 00:00:00.000' AS DateTime), N'TP.HCM', N'TH', 100000)
INSERT [dbo].[SINHVIEN] ([MASV], [HOSV], [TENSV], [PHAI], [NGAYSINH], [NOISINH], [MAKH], [HOCBONG]) VALUES (N'A03', N'Lê Thu Bạch', N'Yến', 0, CAST(N'1982-12-12 00:00:00.000' AS DateTime), N'Hà Nội', N'AV', 140000)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHOA__A58D2862130432E2]    Script Date: 12/20/2020 12:56:43 PM ******/
ALTER TABLE [dbo].[KHOA] ADD UNIQUE NONCLUSTERED 
(
	[TENKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__MONHOC__A58D38A08A4D3DDE]    Script Date: 12/20/2020 12:56:43 PM ******/
ALTER TABLE [dbo].[MONHOC] ADD UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD CHECK  (([SOTIET]>=(30)))
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD CHECK  (([HOCBONG]>=(0)))
GO
USE [master]
GO
