USE [QL_BAN_HOA5]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 4/4/2022 7:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [char](4) NOT NULL,
	[TENCD] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTDONHANG]    Script Date: 4/4/2022 7:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDONHANG](
	[SODH] [char](4) NOT NULL,
	[MAHOA] [char](4) NOT NULL,
	[SOLUONG] [int] NULL DEFAULT ((1)),
	[GIABAN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOA] ASC,
	[SODH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 4/4/2022 7:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONHANG](
	[SODH] [char](4) NOT NULL,
	[NGAYDAT] [datetime] NULL DEFAULT (getdate()),
	[NGAYGIAO] [datetime] NULL DEFAULT (getdate()),
	[DIADIEM] [nvarchar](50) NULL,
	[HOKH] [nvarchar](35) NULL,
	[TENKH] [nvarchar](15) NULL,
	[GHICHU] [nvarchar](50) NULL,
	[TINHTRANG] [bit] NULL DEFAULT ((0)),
	[TongGT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SODH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA]    Script Date: 4/4/2022 7:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA](
	[MAHOA] [char](4) NOT NULL,
	[TENHOA] [nvarchar](50) NULL,
	[YNGHIA] [nvarchar](100) NULL,
	[THANHPHAN] [nvarchar](50) NULL,
	[DONGIA] [money] NULL,
	[HINHMH] [varchar](15) NULL,
	[MACD] [char](4) NULL,
	[MALH] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIHOA]    Script Date: 4/4/2022 7:20:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIHOA](
	[MALH] [char](4) NOT NULL,
	[TENLH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'CD04', N'Chúc mừng')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'CD01', N'Sinh nhật')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'CD02', N'Tặng mẹ')
INSERT [dbo].[CTDONHANG] ([SODH], [MAHOA], [SOLUONG], [GIABAN]) VALUES (N'D002', N'H001', 1, 450000.0000)
INSERT [dbo].[CTDONHANG] ([SODH], [MAHOA], [SOLUONG], [GIABAN]) VALUES (N'D007', N'H003', 1, 350000.0000)
INSERT [dbo].[CTDONHANG] ([SODH], [MAHOA], [SOLUONG], [GIABAN]) VALUES (N'D003', N'H004', 1, 350000.0000)
INSERT [dbo].[DONHANG] ([SODH], [NGAYDAT], [NGAYGIAO], [DIADIEM], [HOKH], [TENKH], [GHICHU], [TINHTRANG], [TongGT]) VALUES (N'D001', CAST(N'2017-03-05 00:00:00.000' AS DateTime), CAST(N'2017-03-05 00:00:00.000' AS DateTime), N'345/12 Phan Văn Trị, Bình Thạnh, TPHCM', N'Nguyễn Thị', N'Nhi', N'Giao buổi sáng', 1, NULL)
INSERT [dbo].[DONHANG] ([SODH], [NGAYDAT], [NGAYGIAO], [DIADIEM], [HOKH], [TENKH], [GHICHU], [TINHTRANG], [TongGT]) VALUES (N'D002', CAST(N'2017-04-15 00:00:00.000' AS DateTime), CAST(N'2017-04-20 00:00:00.000' AS DateTime), N'123/45 Lê Quang Định, Bình Thạnh, TPHCM', N'Đặng Ngọc', N'Sơn', N'Giao buổi chiều', 1, NULL)
INSERT [dbo].[DONHANG] ([SODH], [NGAYDAT], [NGAYGIAO], [DIADIEM], [HOKH], [TENKH], [GHICHU], [TINHTRANG], [TongGT]) VALUES (N'D003', CAST(N'2017-07-01 00:00:00.000' AS DateTime), CAST(N'2017-07-15 00:00:00.000' AS DateTime), N'46/B4 Nguyễn Văn Đậu, Bình Thạnh, TPHCM', N'Phan Văn', N'Đàn', N'Giao từ 9g30 đến 10g', 1, NULL)
INSERT [dbo].[HOA] ([MAHOA], [TENHOA], [YNGHIA], [THANHPHAN], [DONGIA], [HINHMH], [MACD], [MALH]) VALUES (N'H001', N'Nắng Sớm', N'Mỗi ngày đều đẹp', N'Hoa hướng dương, lá dương xỉ, baby trắng', 450000.0000, N'h001.jpg', N'CD01', N'LH04')
INSERT [dbo].[HOA] ([MAHOA], [TENHOA], [YNGHIA], [THANHPHAN], [DONGIA], [HINHMH], [MACD], [MALH]) VALUES (N'H002', N'Nụ Cười', N'Cười mỗi ngày', N'Hoa cẩm chướng, hoa tulip, lá phụ khác', 550000.0000, N'h002.jpg', N'CD01', N'LH07')
INSERT [dbo].[HOA] ([MAHOA], [TENHOA], [YNGHIA], [THANHPHAN], [DONGIA], [HINHMH], [MACD], [MALH]) VALUES (N'H003', N'Yêu Mẹ', N'Yêu thương đong đầy', N'Hoa sen, hoa ly, lá phụ khác', 350000.0000, N'h003.jpg', N'CD02', N'LH05')
INSERT [dbo].[LOAIHOA] ([MALH], [TENLH]) VALUES (N'LH07', N'Hoa cẩm chướng')
INSERT [dbo].[LOAIHOA] ([MALH], [TENLH]) VALUES (N'LH10', N'Hoa cẩm tú cầu')
INSERT [dbo].[LOAIHOA] ([MALH], [TENLH]) VALUES (N'LH03', N'Hoa cúc')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CHUDE__A58D6F948B15E699]    Script Date: 4/4/2022 7:20:36 AM ******/
ALTER TABLE [dbo].[CHUDE] ADD UNIQUE NONCLUSTERED 
(
	[TENCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__HOA__EA6029E58F81DB16]    Script Date: 4/4/2022 7:20:36 AM ******/
ALTER TABLE [dbo].[HOA] ADD UNIQUE NONCLUSTERED 
(
	[TENHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__LOAIHOA__A58D3081CBD11DED]    Script Date: 4/4/2022 7:20:36 AM ******/
ALTER TABLE [dbo].[LOAIHOA] ADD UNIQUE NONCLUSTERED 
(
	[TENLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD FOREIGN KEY([MAHOA])
REFERENCES [dbo].[HOA] ([MAHOA])
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD FOREIGN KEY([SODH])
REFERENCES [dbo].[DONHANG] ([SODH])
GO
ALTER TABLE [dbo].[HOA]  WITH CHECK ADD FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[HOA]  WITH CHECK ADD FOREIGN KEY([MALH])
REFERENCES [dbo].[LOAIHOA] ([MALH])
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD CHECK  (([GIABAN]>(0)))
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([NGAYDAT]<=[NGAYGIAO]))
GO
ALTER TABLE [dbo].[HOA]  WITH CHECK ADD CHECK  (([DONGIA]>(0)))
GO
